<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atenas</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/index.css">

</head>
<body>
    <div class="container">
        <div class="row mt-3 px-3">
            <div class="col-12 text-center">
                <button type="button" class="btn-record btn-record-green" id="record" onclick="record()">
                    <img class="mic-img" src="../assets/img/microphone.png" />
                </button>
                <button type="button" class="btn-record btn-record-red" id="stop" onclick="stop()" style="display:none">
                    <img class="mic-img" id="record-stop-label" src="../assets/img/microphone.png" />
                    <span id="record-stop-loading" style="display: none"><span class="spinner-border spinner-border-sm record-spinner" role="status" aria-hidden="true"></span></span>
                </button>
            </div>
            <div class="col-12 text-center mt-2">
                <div id="text"></div>
            </div>
        </div>
    </div>


    <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>